body {
    padding-bottom: 20px;
}

/* Styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
 }

input.input-validation-error, textarea.input-validation-error {
    border: 2px solid #b94a48;
    background-color: #ffe1e1;
}

input[type="checkbox"].input-validation-error {
    border:0 none;
    outline: 2px solid #b94a48;
}

.validation-summary-errors {
    font-weight: bold;
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */
.dl-horizontal dt {
    white-space: normal;
}

textarea {
   resize: vertical;
}

th, caption {
    text-align: center;
}

li.selected-theme {
    font-weight: bold;
}

.text-column {
    max-width: 590px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.text {
    overflow: hidden;
    overflow-wrap:break-word;
}

/* Theme menu */
#theme-menu {
    color:black;
    background-color:ghostwhite;
    cursor:pointer;
    list-style-type:none;
}
