<hr />
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <form name="loginForm" class="form-horizontal" role="form" novalidate onkeydown="event.which == 13 || event.keyCode == 13 ? document.querySelector('#submitBtn').click() : true">
                <div class="form-group has-feedback">
                    <label class="control-label col-lg-1 col-md-1" for="username">Email</label>
                    <div class="col-lg-11 col-md-11">
                        <div ng-class="{ 'has-error' : loginForm.email.$invalid && loginForm.email.$dirty, 'has-success' : loginForm.email.$valid }">
                            <input id="email" name="email" type="email" required class="form-control" ng-model="user.email" />
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="loginForm.email.$valid"></span>
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-if="loginForm.email.$invalid && loginForm.email.$dirty"></span>
                            <span class="text-danger" ng-show="loginForm.email.$error.required && loginForm.email.$dirty">The username field is required.</span>
                            <span class="text-danger" ng-show="loginForm.email.$error.email">The username field is not a valid e-mail address.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-lg-1 col-md-1" for="Password">Password</label>
                    <div class="col-lg-11 col-md-11">
                        <div ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.password.$dirty, 'has-success' : loginForm.password.$valid }">
                            <input id="password" name="password" type="password" required class="form-control" ng-model="user.password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$/" />
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="loginForm.password.$valid"></span>
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-if="loginForm.password.$invalid && loginForm.password.$dirty"></span>
                            <span class="text-danger" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">The Password field is required.</span>
                            <span class="text-danger" ng-show="loginForm.password.$error.pattern">
                                The Password must be at least 6 characters long.<br />
                                It must contain at l east one upper case letter, one lower case letter, one digit and one special caracter.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-11 col-md-11 col-lg-offset-1 col-md-offset-1">
                        <bytton id="submitBtn" type="button" class="btn btn-block btn-default" ng-disabled="loginForm.$invalid" ng-click="loginForm.$valid ? user.logIn() : null;">
                            <span class="glyphicon glyphicon-log-in"></span> Log In
                        </bytton>
                        <a href="#/register">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr />
