<hr />
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Registration</div>
        <div class="panel-body">
            <form name="regForm" class="form-horizontal" role="form" novalidate onkeydown="event.which == 13 || event.keyCode == 13 ? document.querySelector('#submitBtn').click() : true">
                <div class="form-group has-feedback">
                    <label class="control-label col-lg-2 col-md-2" for="email">Email</label>
                    <div class="col-lg-10 col-md-10">
                        <div ng-class="{ 'has-error' : regForm.email.$invalid && regForm.email.$dirty, 'has-success' : regForm.email.$valid }">
                            <input id="email" name="email" type="email" required class="form-control" ng-model="user.email" />
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="regForm.email.$valid"></span>
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-if="regForm.email.$invalid && regForm.email.$dirty"></span>
                            <span class="text-danger" ng-show="regForm.email.$error.required && regForm.email.$dirty">The Email field is required.</span>
                            <span class="text-danger" ng-show="regForm.email.$error.email">The Email field is not a valid e-mail address.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-lg-2 col-md-2" for="Password">Password</label>
                    <div class="col-lg-10 col-md-10">
                        <div ng-class="{ 'has-error' : regForm.password.$invalid && regForm.password.$dirty, 'has-success' : regForm.password.$valid }">
                            <input id="password" name="password" type="password" required class="form-control" ng-model="user.password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$/" />
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="regForm.password.$valid"></span>
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-if="regForm.password.$invalid && regForm.password.$dirty"></span>
                            <span class="text-danger" ng-show="regForm.password.$error.required && regForm.password.$dirty">The Password field is required.</span>
                            <span class="text-danger" ng-show="regForm.password.$error.pattern">
                                The Password must be at least 6 characters long.<br />
                                It must contain at least one upper case letter, one lower case letter, one digit and one special caracter.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-lg-2 col-md-2" for="confirmPassword">Confirm password</label>
                    <div class="col-lg-10 col-md-10">
                        <div ng-class="{ 'has-error' : regForm.confirmPassword.$invalid && regForm.confirmPassword.$dirty, 'has-success' : regForm.confirmPassword.$valid }">
                            <input id="confirmPassword" name="confirmPassword" type="password" required class="form-control" ng-model="user.confirmPassword" compare-to="user.password" />
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="regForm.confirmPassword.$valid"></span>
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-if="regForm.confirmPassword.$invalid && regForm.confirmPassword.$dirty"></span>
                            <span class="text-danger" ng-show="regForm.confirmPassword.$error.required && regForm.confirmPassword.$dirty">The Password field is required.</span>
                            <span class="text-danger" ng-show="regForm.confirmPassword.$error.compareTo">The password and confirmation password do not match.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2">
                        <bytton id="submitBtn" type="button" class="btn btn-block btn-default" ng-disabled="regForm.$invalid" ng-click="regForm.$valid ? user.register() : null;">
                            <span class="glyphicon glyphicon-user"></span> Register
                        </bytton>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr />
